@import url("https://use.typekit.net/gtj8ihj.css");
* {
    --apo: #e95942;
    --ce: #ffee58;
    --ej: #839669;
    --cc: #74569e;
    --tech: #64b5f6;
    --leg: #8d6e63;
}
a {
    color: inherit;
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    overflow: no-display;
    background-color: #fcf6f2;
}

header {
    font-family: mortise, sans-serif;
    font-weight: 200;
    position: absolute;
    padding: 0;
    left: 40px;
    top: 10px;
}

header p {
    margin: 0;
}

#container {
    position: absolute;
    min-width: calc(100% - 80px);
    max-width: calc(100% - 80px);
    left: 40px;
    top: 40px;
    background-color: #fcf6f2;
}

#first-section {
    position: relative;
    height: auto;
    padding: 0;
    background-color: #1f2630; /* #3b7ea1;*/
}
.small {
    display: none;
}

#second-section {
    position: relative;
    height: auto;
    padding: 0;
    background-color: #FDB515;
}

#first-section .chaka-img {
    display: inline-block;
    height: 100%;
    width: 60%;
    background-image: url("./campanile.jpg");
    background-position: center;
    background-size: cover;
}

/*#second-section .family-img {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    display: inline-block;*/
/*    min-height: 100px;*/
/*    height: 100%;*/
/*    width: 70%;*/
/*    background-image: url("./familypic.png");*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*}*/
#second-section img {
    width: 70%;
    margin: 10px;
    margin-right: 20px;
}

#second-section .inner {
    position: relative;
    display: inline-block;
    width: 100%;
}

#second-section h2 {
    padding: 0 20px;
    margin: 10px;
    max-width: calc(100% - 40px);
    width: calc(100% - 40px);
    display: inline-block;
    /*font-family: rig-solid-medium-outline, sans-serif;*/
    font-family: montserrat, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5em;
    color:white;
    text-wrap: normal;
    word-wrap: break-word;
    text-align: center;
}


#second-section p {
    padding: 0 20px;
    margin: 0;
    margin-bottom: 20px;
    font-family: sofia-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25em;
    color: white;
}

#third-section {
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    height: 25vh;
    padding: 0;
    background-color: #FDB515;
}

#third-section .sixth {
    position: relative;
    grid-column: span 1;
    align-content: center;
}

.sixth {
    color: black;
    text-align: center;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    background-color: #fcf6f2;
}

.apo {
    border: 7px solid var(--apo);
    transition: .5s;
}

.apo:hover {
    background-color: var(--apo);
}

.ce {
    border: 7px solid var(--ce);
    transition: .5s;
}

.ce:hover {
    background-color: var(--ce);
}

.ej {
    border: 7px solid var(--ej);
    transition: .5s;
}

.ej:hover {
    background-color: var(--ej);
}

.cc {
    border: 7px solid var(--cc);
    transition: .5s;
}

.cc:hover {
    background-color: var(--cc);
}

.tech {
    border: 7px solid var(--tech);
    transition: .5s;
}

.tech:hover {
    background-color: var(--tech);
}

.leg {
    border: 7px solid var(--leg);
    transition: .5s;
}

.leg:hover {
    background-color: var(--leg);
}

.sixth p {
    display: inline;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    margin: 0;
    width: 100%;
    word-wrap: break-word;
}

footer {
    position: relative;
    font-family: mortise, sans-serif;
    font-weight: 200;
    height: 15vh;
    width: 100%;
    color: #1f2630;
}

footer .fa-instagram {
    position: absolute;
    font-size: 5vw;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

footer .fa-facebook-official {
    position: absolute;
    font-size: 5vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer .fa-twitter-square {
    position: absolute;
    font-size: 5vw;
    top: 50%;
    right: 40%;
    transform: translate(50%, -50%);
}

@media (max-width: 900px) {
    #container {
        position: relative;
        max-width: 100vw;
        width: 100vw;
        margin: 0;
        left: 0;
    }
    #first-section text {
        font-family: rig-solid-bold-fill, sans-serif !important;
    }
    .chaka-img {
        width: 100% !important;
    }

    .full {
        display: none;
    }

    .small {
        display: block;
        left: 0 !important;
    }

    #second-section .inner {
        position: relative;
        max-width: 100% !important;
        width: 100% !important;
    }
    #second-section img {
        display: block;
        width: 100%;
        padding-bottom: 10px;
        margin: 0;
    }
    #second-section h2 {
        margin-left: 0;
    }
    #second-section {
        height: auto;
    }
    #second-section p {
        padding-bottom: 40px;
    }
    .sixth {
        grid-column: span 6 !important;
        padding: 30px 0;
    }
    #third-section {
        height: 100%;
    }
    #second-section .inner {
        top: 10px;
        transform: none;
    }
    footer .fa-instagram {
        left: 25%;
        font-size: 10vw;
    }

    footer .fa-facebook-official {
        font-size: 10vw;
    }


    footer .fa-twitter-square {
        right: 25%;
        font-size: 10vw;
    }
    header {
        position: relative;
        left: 10px;
        top: 20px;
    }
}